.Footer {
    flex: 0 1 40px;
    background-color:#DADADA;
    display:flex;
    justify-content: center;
    align-items: center ;
    z-index:auto;
}
.Footer img {
    height:25px;
    margin-left:10px;
}